clustering final

In [1]:
import sys
sys.path.append('../../')

In [2]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt

from modules import machine_learning_utils as mlu

pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

# 1.0 Data retrieval

In [3]:
df = pd.read_pickle("../../data_lake/output/train.pkl")

# 2.0 Features Engineering

In [4]:
df = mlu.features_eng(df,'clustering')

In [5]:
cols = ['card1', 'card2', 'card3', 'card5', 'M4', 'id_21', 'id_22', 'id_23', 'id_24', 'id_25',
       'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_32', 'id_33', 'id_34',
       'id_35', 'id_36', 'id_37', 'id_38','num_transaction_per_time','addr1','P_emaildomain','R_emaildomain']

In [6]:
df = df.drop(columns=cols)

In [7]:
df = df[df['isFraud']==0]
df = df.drop(columns='isFraud')

In [8]:
df = df.drop(columns=['addr2','multi_transaction_per_time'])

In [9]:
df.sample(1)

,TransactionAmt,ProductCD,card4,card6,DeviceType,max_c,max_d,customer_id,browser_enc,device_info_v4
76353,91.718,C,mastercard,debit,mobile,1.0,267.541656,62,android,samsung

# 3.0 Training clustering

In [11]:
df, imp_mean, imp_mean2, scaler = mlu.clustering_preparation(df,'training')

In [14]:
df = mlu.clustering_encoding(df)

# 3.0 Personas generation

In [16]:
mlu.clustering_main(df,'training',5,None)

For cluster number:  2  the score is:  0.26329783
For cluster number:  3  the score is:  0.2508759
For cluster number:  4  the score is:  0.21009842

In [17]:
df, centroid, model = mlu.clustering_main(df,'choosen',None,4)

0    2969
2    2109
3    1918
1    1031
Name: cluster_labels, dtype: int64

In [18]:
centroid.style.background_gradient(cmap='brg',axis=1)

# 4.0 Prediction

In [19]:
df = mlu.clustering_prediction(df,model)

In [20]:
df.sample(4)

,TransactionAmt,max_c,max_d,product_enc,card4_enc,card6_enc,DeviceType_enc,browser_enc2,device_info_v4_enc,cluster_labels,cluster_labels_pred
customer_id,,,,,,,,,,,
116,0.000818,0.002490,0.124722,0,0,0,1,0,1,0,0
1642,0.049520,0.000000,0.000000,3,0,1,1,0,1,0,0
16,0.006056,0.000356,0.021665,0,0,0,1,0,4,2,2
19245,0.066195,0.000000,0.125284,3,2,1,1,0,1,0,0

# 5.0  Output

In [22]:
with open('../../data_lake/output/clustering_model_v1.pkl','wb') as file:
    pickle.dump(model, file)

In [23]:
with open('../../data_lake/output/clustering_imputation_num.pkl','wb') as file:
    pickle.dump(imp_mean, file)

In [24]:
with open('../../data_lake/output/clustering_imputation_cat.pkl','wb') as file:
    pickle.dump(imp_mean, file)

In [25]:
with open('../../data_lake/output/clustering_scaler_num.pkl','wb') as file:
    pickle.dump(scaler, file)